<section class="content has-text-right has-text-centered-mobile">
  <h1 class="title has-text-left">projects:</h1>
  <%= link_to image_tag("chess.png", alt: "chess ruby; coding project"), "https://github.com/timothy-taylor/chess_ruby", height: "128px", width: "128px", class: "project" %>
  <%= link_to image_tag("constellations.png", alt: "constellations; sequencer for monome norns"), "https://github.com/timothy-taylor/constellations/", height: "128px", width: "128px", class: "project" %>
  <%= link_to image_tag("weather.png", alt: "weather terminal"), "https://timothy-taylor.github.io/weather_terminal/", height: "128px", width: "128px", class: "project" %>
  <%= link_to image_tag("pacebook.png", alt: "pacebook: runners' connection"), "https://odin-pacebook-rails.herokuapp.com/", height: "128px", width: "128px", class: "project" %>
  <%= link_to image_tag("offworld.png", alt: "offworld: interactive granular synth"), "https://timothy-taylor.github.io/offworld", height: "128px", width: "128px", class: "project" %>
  <%= link_to image_tag("raft2.png", alt: "raft; a delay for monome norns"), "https://github.com/timothy-taylor/raft", height: "128px", width: "128px", class: "project" %>
  <%= link_to image_tag("tictactoe.png", alt: "tictactoe on next.js"), "https://tictactoe-js.vercel.app", height: "128px", width: "128px", class: "project" %>
  <%= link_to image_tag("circularbuffer.png", alt: "circular buffer in rust"), "https://gist.github.com/timothy-taylor/1e9bab14fb645c449d3f5ffa930c09e4", height: "128px", width: "128px", class: "project" %>
  <%= link_to image_tag("battleship.png", alt: "battleship tdd js project"), "https://timothy-taylor.github.io/odin_battleship_js/", height: "128px", width: "128px", class: "project" %>
  <%= link_to image_tag("tally.png", alt: "tally pomodoro/tracker"), "https://github.com/timothy-taylor/tally", height: "128px", width: "128px", class: "project" %> 
  <%= link_to image_tag("skateshop.png", alt: "shopping cart project"), "https://timothy-taylor.github.io/odin_shoppingcart_react/", height: "128px", width: "128px", class: "project" %>
  <%= link_to image_tag("drifts.png", alt: "drifts; generative poem"), drifts_path, height: "128px", width: "128px", class: "project" %>
  <%= link_to image_tag("cv.png", alt: "cv app in react"), "https://timothy-taylor.github.io/odin_cv_react/", height: "128px", width: "128px", class: "project" %>
  <%= link_to image_tag("recursive.png", alt: "generative art"), dsp_path, height: "128px", width: "128px", class: "project" %>
</section>

