<div class="columns m-4">
  <main class="column is-four-fifths is-offset-one-fifth">
    <%= render "header" %>
    <%= render "projects" %>
    <%= render "tech" %>
    <%= render "music" %>
    <%= render "tally" %>
  </main>
</div>
